.container-itemDetail {
    min-height: 70vh;
}

.card-itemDetail {
    border: none;
}

.product {
    background-color: #eee;
    border-radius: 10px;
}

.act-price {
    color: blue;
    font-weight: 700
}